{% extends "landing_style.html" %}
{% load static %}
{% block title %}
{% endblock title %}
{% block content %}
    <div class="feedback row justify-content-center">
        <div class="background col-md-8 col-lg-6 d-flex mb-5 justify-content-center">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdUAYAODRC-sA8ZS9XMhaPtDz822v_bZP04MmU4ZYmqZTB6UA/viewform?embedded=true"
                    width="100%"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0"
                    scrolling="yes">Loading…</iframe>
        </div>
    </div>
{% endblock content %}
