{% extends "landing_style.html" %}
{% load static %}
{% block content %}
    <div class="team-section">
        <br>
        <h1 class="team-title">The Aluminotes Team</h1>
        <div class="row justify-content-center image-align">
            <div class="col team-member">
                <img src="{% static 'img/sarah.jpeg' %}"
                     alt="Sarah Culpepper"
                     height="auto"
                     width="auto">
                <br>
                Sarah Culpepper
            </div>
            <div class="col team-member">
                <img src="{% static 'img/rafeeq.jpeg' %}"
                     alt="Rafeeq Muhammad"
                     height="auto"
                     width="auto">
                <br>
                Rafeeq Muhammad
            </div>
            <div class="col team-member">
                <img src="{% static 'img/ashton.jpeg' %}"
                     alt="Ashton Andrepont"
                     height="auto"
                     width="auto">
                <br>
                Ashton Andrepont
            </div>
            <div class="col team-member">
                <img src="{% static 'img/blank.png' %}"
                     alt="Morgan Premo"
                     height="auto"
                     width="auto">
                <br>
                Morgan Premo
            </div>
        </div>
        <br>
        <div class="about-style">
            <div class="about-top-block">
                <h2>What We Do</h2>
                <p>
                    We are a team of senior Computer Science students at the University of Louisiana at Lafayette, united by a shared vision to revolutionize the way students and professionals take notes.
                    Our journey began with a common struggle: balancing rigorous academic schedules while managing effective note-taking and writing.
                    Recognizing this challenge, we decided to leverage our skills and knowledge to develop a solution that addresses these issues head-on.
                </p>
                <h2>Our Passion for AI and Learning</h2>
                <p>
                    Our team is passionate about the transformative potential of artificial intelligence in education.
                    We believe that AI can significantly enhance learning abilities by providing personalized, adaptive tools that cater to individual needs.
                    This passion drives us to innovate continuously, seeking new ways to integrate AI into educational tools to make learning more efficient and effective.
                </p>
                <h2>Our Mission</h2>
                <p>
                    Our mission is to empower students and professionals by providing tools that improve text organization and writing quality.
                    We are dedicated to developing solutions that not only simplify note-taking but also elevate the overall learning experience.
                    By harnessing the power of AI, we aim to support our peers in achieving their academic and professional goals with greater ease and efficiency.
                </p>
                <h2>The Aluminotes Team</h2>
                <p>
                    Our team comprises diverse, talented individuals who bring unique perspectives and expertise to the table.
                    Each member is committed to the common goal of making a significant impact on the educational landscape through technology.
                    We are driven by the belief that everyone deserves the best tools to succeed, and we are working tirelessly to make this a reality.
                </p>
                <h2>Join Us</h2>
                <p>
                    We invite you to join us on this exciting journey.
                    Together, we can set a new standard for efficiency and quality in digital writing and note-taking.
                    With our combined efforts, we can harness the power of AI to transform the way we learn and work, making education more accessible and effective for everyone.
                </p>
            </div>
            <br>
        </div>
    </div>
{% endblock content %}
