{% extends "settings_crud_style.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% if validlink %}
        <div class="alert alert-info" role="alert">Please enter (and confirm) your new password.</div>
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="card reset-password-custom text-white mt-2">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-4 text-uppercase">Reset Password</h2>
                                <form method="post" id="password_change">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {{ form.media }}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-outline-light btn-lg px-5">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-center fw-bold mb-5">Password reset failed</h1>
        <div class="alert alert-warning" role="alert">
            The password reset link was invalid, possibly because it has already been
            used. Please request a new password reset.
        </div>
    {% endif %}
{% endblock content %}
