asgiref
beautifulsoup4
coverage
dj-database-url
Django
django-bootstrap5
fontawesomefree
gunicorn
parameterized
psycopg2-binary
pytz
soupsieve
sqlparse
whitenoise
pylama
pypandoc
djlint
pypdf
pylint
pylint-django
pytest-django
pytest-cov
Pillow
ruff
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google_generativeai
django-heroku
django-allauth
pyjwt
six
cryptography
SpeechRecognition
pydub
stripe