html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:white;
}

@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 30px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

.settings_box {
    position: fixed;
    top: 10%;
    right: 2%;
    height: 85%;
    width: 13%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;

}

.logout {
    color: unset;
    text-decoration: none;
}

#frm_logout {
    display: -webkit-inline-box;
}
.navbar-solid {
    background-image: linear-gradient(100deg,#5c163b, #5b1238, #5c0f2e, #5e0d1a);
}

.nav-item {
    margin-left: auto;
    width: fit-content;
    margin-top: -3px;
    margin-right: 25px;
}



.navbar-nav .dropdown-menu {
    margin-left: auto;
    width: fit-content;
    margin-top: -3px;
    margin-right: 25px;
}

.navbar {
    padding-top: 15px;
    font-size: 1.1em;
}

.navbar_wrapper{
    min-width: unset;
}

.navbar img {
    padding-right: 5%;
}

/* .navbar-nav {
    margin-left: 10px;
} */

.navbar-collapse{
    text-align: right;
}


.content-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-content {
    flex: 1;
    padding-left: 20px;
}

.image-content img {
    width:100%;
    max-width: 100px;
    height: auto;
}

.settings {
    position: relative;
    top: 15px;
    left: 20px;
    max-width: 600px;
    height: 550px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(128, 24, 98, 255);
}

.settings .selected {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    height: 100%;
    width: 100%;
}

.settings .theme-card {
    cursor: pointer;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.settings .dropdown-button {
    position: absolute;
    left: -80px;
    top: -20px;
    background-color: rgba(128, 24, 98, 255) !important;
    color: white !important;
    border: none;
    outline: none;
}

.settings .dropdown-button:focus {
    border: none;
    outline: none;
}

.settings .dropdown-menu {
    position: absolute;
    left: 0 !important;
    top: 20px !important;
    min-width: 50px;
    max-width: 200px;
}

.settings .dropdown-menu .dropdown-item:hover,
.settings .dropdown-menu .dropdown-item:focus {
    background-color: rgba(155, 48, 128, 255) !important;
    color: white !important;
}

.settings h2 {
    margin-bottom: 10px;
    text-align: center;
}

.settings-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items at each end of the container */
}

.settings-group label {
    margin-bottom: 5px;
    flex: 0 0 30%; /* Control the width of the label */
}

.settings-group input[type="checkbox"] {
    display: block;
    width: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.settings .btn {
    position: absolute;
    display: block;
    width: 50%;
    bottom: 20px;
    margin-left: 22%;
}

.fa-arrow-right-to-bracket{
    padding-right: 10px;
    font-size: 15px;
}

.fa-user-plus{
    padding-right: 10px;
    font-size: 15px;
}

.bloodbackground_ultra {
    backdrop-filter:
    brightness(190%)
    contrast(170%)
    saturate(75%)
    hue-rotate(5deg);
}

.bloodbackground_massacre {
    background-color: #00000009;
    backdrop-filter:
    brightness(181%)
    contrast(314%)
    saturate(100%)
    hue-rotate(-20deg)
}

.options-form .form-switch .form-check-input {
    height: 18px;
    width: 34px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28192, 46, 107, .30%29'/%3e%3c/svg%3e");
}
.options-form .form-switch .form-check-input:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28192, 46, 107, .30%29'/%3e%3c/svg%3e");

}
.options-form .form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
    background-color: #d5749d;
    border-color: #c02e6b;
    border: none;
}

.alert_box {
    position: absolute;
    opacity: 0;
    height: auto;
    width: 400px;
    top: 88px;
    left: calc(50% - 200px);
    border-radius: 5px;
    padding: 5px;
    transition: opacity .5s;
    text-align: center;
}

  .alert_box.fade {
    opacity: 1;
  }

  .alert_box_error {
    background-image: linear-gradient(45deg, #cd1919, #9b1f57);
  }

  .alert_box_success {
    background-image: linear-gradient(45deg, #6bb371, #1b8182);
  }


.alert.alert-success.alert-dismissible, .alert.alert-info{
    position: absolute;
    top: 10%;
}
@media only screen and (max-width: 991px) {

    .navbar {
        padding-right: unset;
        .container{
            max-width: fit-content;
        }
        }

}

@media only screen and (max-width: 767px) {
    .navbar {
        .container{
            max-width: unset;
        }
        }
    .navbar_wrapper{
        min-width: -webkit-fill-available;
    }
    .navbar-collapse{
        margin-left: auto;
        max-width: 10rem;
    }
    .nav-item {
        margin-left: auto;
        width: fit-content;
        margin-right: 25px;
        margin-top: -3px;
        min-width: 10rem;
        }

    .col-4.text-center.p-1{
        width: auto;
    }

    .row.mobile_column{
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        .col{
            width: unset;
        }
    }

    .container{
        margin-right: 1%;
        margin-left: 1%;
        }

    .profile-button {
        width: 70vw !important;
    }
    .theme-selection .row .col-md-4{
        width: 33%;
    }
}

  .alert_box_start_opaque {
    opacity: 1;
  }
