
.apptheme {
    box-shadow: #3c122a;
    background: rgb(255,181,146);
    background-image:
        linear-gradient(
        180deg,
        hsl(347deg 28% 28%) 0%,
        hsl(347deg 30% 28%) 21%,
        hsl(348deg 32% 28%) 30%,
        hsl(349deg 34% 29%) 39%,
        hsl(350deg 37% 29%) 46%,
        hsl(351deg 39% 29%) 54%,
        hsl(352deg 40% 29%) 61%,
        hsl(353deg 42% 29%) 69%,
        hsl(354deg 44% 30%) 79%,
        hsl(355deg 46% 30%) 100%
        ),
        linear-gradient(
        325deg,
        hsl(346deg 62% 38%) 0%,
        hsl(334deg 75% 39%) 4%,
        hsl(322deg 88% 39%) 11%,
        hsl(333deg 83% 36%) 22%,
        hsl(351deg 71% 32%) 38%,
        hsl(355deg 72% 31%) 57%,
        hsl(344deg 87% 32%) 75%,
        hsl(334deg 96% 32%) 88%,
        hsl(325deg 97% 27%) 96%,
        hsl(316deg 98% 22%) 100%
        ),
        linear-gradient(
        95deg,
        hsl(0deg 26.02% 26.98%) 0%,
        hsl(0deg 28.82% 25.79%) 21%,
        hsl(359deg 28.11% 23.47%) 30%,
        hsl(359deg 30.64% 23.02%) 39%,
        hsl(358deg 33.26% 21.97%) 46%,
        hsl(357deg 34.03% 21.26%) 54%,
        hsl(357deg 38.02% 21.79%) 61%,
        hsl(356deg 40.1% 21.46%) 69%,
        hsl(356deg 40.1% 20.9%) 79%,
        hsl(355deg 41.38% 17.37%) 100%),
        linear-gradient(
        50deg,
        hsl(329deg 100% 13%) 0%,
        hsl(283deg 79% 12%) 28%,
        hsl(264deg 82% 15%) 46%,
        hsl(276deg 90% 16%) 100%
        );
    background-blend-mode:darken;
  }

  .theme {
      box-shadow: #3c122a;
      background: rgb(255,181,146);
      background-image:
      linear-gradient(180deg,
      hsl(347deg 28% 28%) 0%,
      hsl(347deg 30% 28%) 21%,
      hsl(348deg 32% 28%) 30%,
      hsl(349deg 34% 29%) 39%,
      hsl(350deg 37% 29%) 46%,
      hsl(351deg 39% 29%) 54%,
      hsl(352deg 40% 29%) 61%,
      hsl(353deg 42% 29%) 69%,
      hsl(354deg 44% 30%) 79%,
      hsl(355deg 46% 30%) 100%),

      linear-gradient(145deg,
      hsl(353deg 48% 30%) 0%,
      hsl(342deg 50% 28%) 4%,
      hsl(331deg 48% 26%) 12%,
      hsl(329deg 40% 26%) 35%,
      hsl(338deg 30% 30%) 69%,
      hsl(346deg 21% 32%) 83%,
      hsl(349deg 21% 33%) 90%,
      hsl(352deg 21% 33%) 95%,
      hsl(358deg 21% 33%) 97%,
      hsl(7deg 24% 33%) 99%,
      hsl(15deg 26% 33%) 100%),

      linear-gradient(95deg,
      hsl(0deg 27% 34%) 0%,
      hsl(360deg 29% 33%) 21%,
      hsl(359deg 30% 33%) 30%,
      hsl(359deg 32% 33%) 39%,
      hsl(358deg 34% 32%) 46%,
      hsl(357deg 37% 32%) 54%,
      hsl(357deg 39% 31%) 61%,
      hsl(356deg 41% 31%) 69%,
      hsl(356deg 43% 30%) 79%,
      hsl(355deg 46% 30%) 100%),

      linear-gradient(266deg,
      hsl(300deg 79% 49%) 0%,
      hsl(315deg 84% 53%) 7%,
      hsl(330deg 89% 56%) 21%,
      hsl(345deg 95% 60%) 58%,
      hsl(0deg 100% 63%) 100%),

      linear-gradient(110deg,
        hsl(300deg 74% 35%) 0%,
        hsl(339deg 76% 30%) 54%,
        hsl(19deg 80% 25%) 100%),

       linear-gradient(
      145deg,
      hsl(300deg 74% 35%) 0%,
      hsl(338deg 79% 28%) 44%,
      hsl(338deg 79% 24%) 66%,
      hsl(300deg 75% 22%) 100%
    );
      background-blend-mode:darken;
    }

  .h1 {
      line-height: 20px;
  }

  .bloodbackground {
      background-color: #00000009;
      box-shadow: 0px 0px 5px #09002f40;
      backdrop-filter: brightness(230%)
      contrast(170%)
      saturate(75%)
      hue-rotate(5deg);
  }

  .bloodbackground_button_1 {
      background-color: #69323273;
      color:white !important;
      backdrop-filter:
      brightness(160%)
      contrast(250%)
      saturate(125%)
      hue-rotate(325deg);
      padding: 20px;
  }

  .bloodbackground_button_1:hover, .bloodbackground_button_2:hover{
      background-color: #2f171773;
  }

  .bloodbackground_button_3:hover, .bloodbackground_button_4:hover{
      background-color: white;
      color: black;
      transition-duration: 0.3;
      scale: 1.04;
  }

  .bloodbackground_button_2 {
      background-color: #69323273;
      color:antiquewhite;
      backdrop-filter:
      brightness(147%)
      contrast(330%)
      saturate(130%)
      hue-rotate(340deg);
      padding-top: 100px;
      padding: 20px;
  }

  .bloodbackground_button_3 {
      background-color: white;
      color:black;
      width: 120px;
      margin-top: 126px;
      margin-bottom: 10px;
      margin-left: 10px;
      font-size: 15px;
      font-weight: 500;
      border-radius: 50px;
  }

  .bloodbackground_button_4 {
      background-color: white;
      color:black;
      width: 120px;
      margin-top: -10px;
      margin-bottom: 10px;
      margin-left: 10px;
      font-size: 15px;
      font-weight: 500;
      border-radius: 50px;
  }